[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
injector = "*"
requests = "*"
unidecode = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pulp = "*"
prettytable = "*"

[requires]
python_version = "3.8.6"

[dev-packages]

[scripts]
optimize_lineup = "python -m src.optimize_lineup"
